$color-principal: #009999;
$color-shadow-nav: #0099ff;
$color-principal-1: #086969;
$color-grey-footer: #676767;
$color-bg-gallery: #030c17;
$color-bg-loader: #222222;
$color-white: #fff;
$color-bg-footer-white: #eeeeee;
$color-text-gray: #ccc;
$color-icon-footer: #666666;
$color-black: #000;